<style>
.footer{
  background-image: linear-gradient(to bottom, #1179CE, #0B5895) !important;
  color: #eee;
}

.footer-links{
  color: #eee !important;
}
</style>


<footer class="footer mt-5">
  <div class="container">
    <h2 style="text-align: center; font-weight: 500;" class="mt-5">Stay updated with information, resources and ideas</h2>
    <div class="d-flex flex-row justify-content-center">
      <form class="form-inline" action="">
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-default btn-orange" style="color: #000; background-color: #FFC000; border: none;">Subscribe</button>
      </form>
    </div>
    <div class="links row" style="margin-top: 50px;">
      <div class="col-3">
        <h3 style="color: #FFC000;">Foundley</h3>
        <p>Lorem Ipsum is simply dummy text 
        of the printing and type setting 
        industry. Lorem Ipsum has been the 
        industry's standard dummy text ever 
        since the 1500s</p>
      </div>
      <div class="col-3">
        <h5 style="color: #FFC000;">Links</h5>
        <a href="#" class="footer-links">About Us</a><br>
        <a href="#" class="footer-links">Contact Us</a><br>
        <a href="#" class="footer-links">Projects</a><br>
        <a href="#" class="footer-links">Testimonials</a><br>
      </div>
      <div class="col-3">
        <h5 style="color: #FFC000;">Links</h5>
        <a href="#" class="footer-links">What we do?</a><br>
        <a href="#" class="footer-links">How it works?</a><br>
        <a href="#" class="footer-links">FAQ</a><br>
        <a href="#" class="footer-links">Support</a><br>
        <a href="#" class="footer-links">Blog</a><br>
      </div>
      <div class="col-3">
        <h5 style="color: #FFC000;">Contact</h5>
        <p>Email: &nbsp;&nbsp;&nbsp; info@foundley.com</p>
        <p>Phone: &nbsp;&nbsp;&nbsp; +123435456756768</p>
        <p>Address: &nbsp;&nbsp;&nbsp; 1-D Street, London</p>
      </div>
    </div>
    <hr>
    <div class="d-flex flex-row justify-content-center">
      <a href="http://www.facebook.com" style="color: #fff; font-size: 20px;"><i class="fa fa-facebook"></i></a>
      <a href="http://www.twitter.com" style="color: #fff; font-size: 20px;"><i class="fa fa-twitter ml-5"></i></a>
      <a href="http://www.instagram.com" style="color: #fff; font-size: 20px;"><i class="fa fa-instagram ml-5"></i></a>
    </div>
    <div class="row align-items-center flex-row-reverse mt-5">
      <div class="col-auto ml-lg-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <ul class="list-inline list-inline-dots mb-0">
              <li class="list-inline-item">
                &copy; <a href="" target="_blank" style="color: #ddd;">Foundley</a> - All Rights Reserved
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        <a target="_blank" href="https://foundley.com" style="color: #ddd;">Visit Website - Foundley</a>
      </div>
    </div>
  </div>
</footer>
