{% extends "layouts/base.html" %}

{% block title %} Payment {% endblock %} 

{% block content %} 

  <style>
    a{
      text-decoration: none !important;
    }
  </style>

  <div class="my-3 my-md-5">

    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color: #222">Payments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color: #222">Payment Detiails</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="page-header d-flex flex-row align-items-center justify-content-between">
                    <h1 class="page-title">
                        Payments
                    </h1>    
                     <form class="form-inline">
                        <div class="form-group">
                        <label class="form-label">Search:</label>
                        <input style="width: 250px;" class="form-control custom-select ml-2" type="text" />                   
                        </div>               
                    </form>
                </div>
                <div class="white-container p-3 div-rounded">
                    <div class="table-responsive">
                        <table class="table card-table table-striped table-vcenter">
                        <thead>
                            <tr>
                            <th colspan="2">User</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Deadline</th>
                            <th>Category</th>
                            <th>Sectors</th>
                            <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="w-1"><span class="avatar" style="background-image: url(/static/assets/demo/faces/male/9.jpg)"></span></td>
                                <td>Ronald Bradley</td>
                                <td>Initial commit</td>
                                <td>Lorem Ipsum some description</td>
                                <td class="text-nowrap">May 6, 2018</td>
                                <td><span class="custom-orange-btn-sm">Paid</span></td>
                                <td>Web Development</td>
                                <td><span class="btn btn-sm btn-outline-success">Fund</span><a href="#" class="icon ml-5"><i style="color:red;" class="fe fe-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td class="w-1"><span class="avatar" style="background-image: url(/static/assets/demo/faces/male/12.jpg)"></span></td>
                                <td>Ronald Bradley</td>
                                <td>Initial commit</td>
                                <td>Lorem Ipsum some description</td>
                                <td class="text-nowrap">May 6, 2018</td>
                                <td><button class="btn-danger btn btn-sm" disabled>Unpaid</button></td>
                                <td>Web Development</td>
                                <td><span class="btn btn-sm btn-outline-primary">Donate</span><a href="#" class="icon ml-3"><i style="color:red;" class="fe fe-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td class="w-1"><span class="avatar" style="background-image: url(/static/assets/demo/faces/male/18.jpg)"></span></td>
                                <td>Ronald Bradley</td>
                                <td>Initial commit</td>
                                <td>Lorem Ipsum some description</td>
                                <td class="text-nowrap">May 6, 2018</td>
                                <td><button class="btn-danger btn btn-sm" disabled>Unpaid</button></td>
                                <td>Web Development</td>
                                <td><span class="btn btn-sm btn-outline-primary">Donate</span><a href="#" class="icon ml-3"><i style="color:red;" class="fe fe-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td class="w-1"><span class="avatar" style="background-image: url(/static/assets/demo/faces/female/9.jpg)"></span></td>
                                <td>Ronald Bradley</td>
                                <td>Initial commit</td>
                                <td>Lorem Ipsum some description</td>
                                <td class="text-nowrap">May 6, 2018</td>
                                <td><span class="custom-orange-btn-sm">Paid</span></td>
                                <td>Web Development</td>
                                <td><span class="btn btn-sm btn-outline-success">Fund</span><a href="#" class="icon ml-5"><i style="color:red;" class="fe fe-trash"></i></a></td>
                            </tr>
                            <tr>
                                <td class="w-1"><span class="avatar" style="background-image: url(/static/assets/demo/faces/female/19.jpg)"></span></td>
                                <td>Ronald Bradley</td>
                                <td>Initial commit</td>
                                <td>Lorem Ipsum some description</td>
                                <td class="text-nowrap">May 6, 2018</td>
                                <td><span class="custom-orange-btn-sm">Paid</span></td>
                                <td>Web Development</td>
                                <td><span class="btn btn-sm btn-outline-success">Fund</span><a href="#" class="icon ml-5"><i style="color:red;" class="fe fe-trash"></i></a></td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade d-flex justify-content-center" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="col-lg-7 mt-5">
                    <div class="white-container p-5 div-rounded">
                        <div class="text-center mt-3">
                            <h3>Add/Update Payment Details</h3>
                            <span style="font-weight:300; color:grey;">Lorem Ipsum is simply dummy text of the type setting industry.</span>
                        </div>
                        <div class="form-container mt-4">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <label class="form-label">Enter Card Number *</label>
                                        <input type="text" class="form-control" placeholder="Card Number e.g. 4242424242424242 ">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label class="form-label">Select Expirty Month</label>
                                        <input type="date" class="form-control" placeholder="City" value="Melbourne">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label class="form-label">Select Expiry Day</label>
                                        <input type="date" class="form-control" placeholder="ZIP Code">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                        <label class="form-label">Enter CVC Code</label>
                                        <input type="text" class="form-control" placeholder="CVC Code">                                    
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="submit" value="Process" class="btn custom-orange-btn mt-3 btn-block mb-4">                                    
                                    </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        
    </div>    
</div>

<br>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
           

<script>
   require(['jquery', 'selectize'], function ($, selectize) {
                  $(document).ready(function () {
                      $('#input-tags').selectize({
                          delimiter: ',',
                          persist: false,
                          create: function (input) {
                              return {
                                  value: input,
                                  text: input
                              }
                          }
                      });
              
                      $('#select-beast').selectize({});
                      $('#select-beast-2').selectize({});

                });
   });

    require(['jquery'], function () {
      $(document).ready(function () {
    
        function setCookie(name,value,days) {
          var expires = "";
          if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
          }
          document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }
    
        function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
        }
    
        if (!getCookie('bottombar-hidden')) {
          $('.js-bottombar').show();
        }
    
        $('.js-bottombar-close').on('click', function (e) {
          $('.js-bottombar').hide();
          setCookie('bottombar-hidden', 1, 7);
    
          e.preventDefault();
          return false;
        });
      });
    });
  </script>

{% endblock javascripts %}
